@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


*{
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color:chartreuse;
    font-size: 20px;

}


button{
    margin-left: 20px;
    font-weight: 700;
    color:rgb(6, 113, 6);
    padding: 9px 25px;
    background: rgb(116, 194, 114);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}